<style>
  a {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #ecf0f1;
    transition: background-color 0.3s, color 0.3s;
  }

  a:hover {
    background-color: #3498db;
    color: #fff;
  }
</style>
<!-- header.html -->
<header>
    <nav>
        <ul>
            <a href="index.html">首页</a>
            <a href="task.html" target="_blank">任务详情</a>
            <a href="galxe.html" target="_blank">银河任务详情</a>
            <a href="user.html" target="_blank">用户管理</a>
            <a href="login.html" target="_blank">登录</a>
            <a href="job.html" target="_blank">定时任务管理</a>
            <a href="dataDictionary.html" target="_blank">数据字典</a>
            <a href="taskLog.html" target="_blank">任务日志</a>
        </ul>
    </nav>
</header>
